header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    color: #343f44;
    font-size: 28px;
    gap: 15px;
}

.logo i {
    color: #2e86fd;
    font-size: 32px;
    a {
        text-decoration: none;
        color: #2e86fd;;
    }
}

.logo-text {
    margin: 0;
    a {
        text-decoration: none;
        color: #343f44;
    }
}